.body{
	padding: 0;
	margin: 0 auto;
	background-color:lightpink ;
	border: 1px solid ;
	width: 400px;	
	height: 400px;
}
.content1{
	padding: 5px;
	border: 1px solid black;
	width: 20%;
	height: 50px;
	
}
.content2{
	margin: 3px auto;
	border: 1px solid black;
	width: 80%;
	height: 50px;
	padding: 5px;
	
}
.content3{
	margin: 0 auto;
	border: 1px solid black;
	width: 70%;
	height: 50px;
	text-align: center;

}
.a_href_left{
	text-decoration: none;
}
.a_href_right{
	text-decoration: none;
}
.input{
	height: 28px;
}
