.body{
	width: 1000px;
	height: 900px;
	text-align: center;
	padding: 10px;
}
.gray{
	color: gainsboro;
}
div span{
	color: red;
}
div p{
	text-indent: 2em;
	text-align: left;
	padding: 15px;	
}
div >p>a{
	text-decoration: none;
}
.input1{
	width: 40px;
	height: 40px;
}
div button{
	color: green;
	font-size: 15px;
}

::-webkit-input-placeholder{
	color: red;
}
